:root {
  --time-short: 200ms;
  --time-medium: 1000ms;
  /*Эти двое - для нормальной анимации изменения высоты с 0 на auto и обратно*/
  --transition-extra-easy-out: cubic-bezier(0, 1, 0, 1);
  --transition-extra-easy-in: cubic-bezier(1, 0, 1, 0);

  --gap: 16px;
  --gap-flex: 16px;
  --border-radius: 4px;

  --header-first-height: 35px;
  --header-second-height: 75px;

  /*Эти могут ещё пригодиться*/
  --left-menu-width-expanded: 200px;
  --left-menu-width-collapsed: 53px;
}
